<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
  <bean id="con1" class="com.jbk.setter.Contact">
  <property name="mobile" value="9011678776"></property>
    <property name="landline" value="64128"></property>
  
  </bean>
  
  <bean id="con2" class="com.jbk.setter.Contact">
  <property name="mobile" value="9890544566"></property>
  <property name="landline" value="578954"></property>
  </bean>
  
  
<bean id="stud" class="com.jbk.setter.Student">  
<property name="rollno" value="101"></property>  
<property name="name" value="Ram"></property>
<property name="contact">
<list>
<ref bean="con1"/>
<ref bean="con2"/>
</list>
</property>
</bean>  
  
</beans> 